<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!-- <nav class="navbar navbar-findcond navbar-fixed-top bg-dark navbar-dark"> -->
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="Active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
          <a routerLink="/courses" routerLinkActive="Active" class="nav-link">Courses</a>
      </li>
      <li class="nav-item">
          <a routerLink="/page/about" routerLinkActive="Active" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
          <a routerLink="/contactus" routerLinkActive="Active" class="nav-link">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a routerLink="/auth/registration" routerLinkActive="Active" class="nav-link">Register</a>
          </li>
      <li class="nav-item">
        <a  routerLink="/auth/login" routerLinkActive="Active"  class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
</section>