
<section class="Singup-wrap mtb-40">
  <div class="container">
      <div class="row justify-content-center" *ngIf="!error">
        <div class="col-md-6">
            <div class="login-box">
                <h1>User Registration</h1>
                <div class="alert alert-success" *ngIf="datasaved">
                   {{massage}}
                </div>
                <form [formGroup]="regForm" (ngSubmit)="onSubmit()" >
                    
                    <div class="form-group form-row">
                        <label class="col-md-3">First Name :</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="FirstName" class="form-control" placeholder="First Name" required>
                          <span *ngIf="!regForm.get('FirstName').valid && regForm.get('FirstName').touched" class="text-danger">Please enter First Name !!!</span>
                        </div>
                    </div>
                
                    <div class="form-group form-row">
                        <label class="col-md-3">Last Name :</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="LastName" class="form-control" placeholder="Last Name" required>
                          <span *ngIf="!regForm.get('LastName').valid && regForm.get('LastName').touched" class="text-danger">Please enter Last Name !!!</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-md-3">Email ID :</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="EmailId" class="form-control" placeholder="Email Id" required>
                          <span *ngIf="!regForm.get('EmailId').valid && regForm.get('EmailId').touched" class="text-danger">Please enter Email Id !!!</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-md-3">Password:</label>
                        <div class="col-md-9">
                          <input type="password" formControlName="Password" class="form-control" placeholder="Password" required>
                          <span *ngIf="!regForm.get('Password').valid && regForm.get('Password').touched" class="text-danger">Please enter Password !!!</span>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <button type="submit" [disabled]="!regForm.valid" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>         
        </div>
      </div>
     
  </div>
</section>
